/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

.left{float:left;}
.right{float:right;}

/*Fontes*/
$ptsans: 'PT Sans', sans-serif;

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: $ptsans;
}

/*Cores*/
$darkred: #8B1619;
$smaltblue: #54666F;

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.inner{
    width:980px;
    margin:0 auto;
}

.juridico-home{
    font-size: 18px !important;
    margin-bottom: 14px;
    margin-top: 13px;
}

body{
    background:url(../img/bg-claro.png);
    color:$smaltblue;
}
.conteudo{
    padding-bottom:60px;
}
body > header{
    .linha-topo{
        width:100%;
        height:5px;
        background:#54666F;
    }
    .marca-contato{
        width:100%;
        height:145px;
        .marca{
            display:block;
            width: 330px;
            height: 72px;
            background:url(../img/marca.png);
            float:left;
            margin-top:38px;
        }
    }
    nav{
        height:141px;
        width:100%;
        background:url(../img/bg-menu.png);
        border-bottom:solid 1px #FFF;
        ul{
            margin:0;
            margin-top:32px;
            padding:0;
            list-style-type: none;
            li{
                float:left;
                margin-left:5px;
                &.first{
                    margin-left:0;
                }
                a{
                    text-decoration:none;
                    color:$smaltblue;
                    padding:0 0 13px;
                    text-align:center;
                    font-size:16px;
                    line-height:16px;
                    height:16px;
                    display:block;
                    border-bottom:solid 1px #BABFC2;
                    &.active, &:hover{
                        color:$darkred;
                        border-bottom:solid 4px $darkred;
                        padding-bottom:10px;
                    }
                    &#home{width:99px;}
                    &#quem-somos{width:142px;}
                    &#setor-educacional{width:174px;}
                    &#consultoria-juridica{width:269px;}
                    &#atuacao{width:167px;}
                    &#contato{width:104px;}
                }
            }
        }
    }
    .contato-header{
        float:right;
        margin-top:32px;
        p{
            text-align:right;
            margin:0;
            &.telefone-header{
                color:$darkred;
                font-size:15px;
            }
            &.endereco{
                font-size:13px;
                color:$smaltblue;
            }
            a{
                color:$darkred;
                font-size:13px;
                text-decoration:none;
            }
        }
    }
}
.vermelho{
    color:$darkred;
}
.linha-header{
    width:100%;
    height:1px;
    background:#C2C2C2;
}
.conteudo.home{
    .slider-home-wrapper{
        margin-top:-56px;
    }
    .sliderhome{
        display:block;
        width:980px;
        height:300px;
        .slide{
            display:block;
            text-decoration:none;
            margin-left:1px;
        }
        .barra-lateral{
            width: 26px;
            height: 300px;
            position: absolute;
            .barra{
                width: 10px;
                background: #54666F;
                height: 99px;
                border-right:solid 1px #FFF;
                &.top{
                    border-bottom: solid 1px #FFF;
                }
                &.bottom{
                    border-top:solid 1px #FFF;
                }
            }
            .barra-vermelha{
                width: 26px;
                height: 100px;
                background: #801417;
            }
        }
        img{float:left;}
        .slider-texto{
            float:right;
            width:360px;
            height: 300px;
            background:url(../img/bg-vermelho.png);
            h1{
                width:377px;
                padding-right:27px;
                height:75px;
                padding-top:10px;
                line-height:1.2em;
                background:url(../img/home-faixa-slider.png);
                margin-left:-44px;
                color:#FFF;
                text-transform: uppercase;
                font-size:23px;
                text-align:right;
                text-shadow:0 2px 1px #000;
                span{
                    display:inline-block;
                    width:270px;
                }
            }
            .slider-texto-content{
                width:314px;
                margin-right:27px;
                float:right;
                margin-top:-24px;
                p{
                    text-align:right;
                    font-size:13px;
                    color:#fff;
                }
            }
        }
    }
    .barra-texto-home{
        width:100%;
        height:1px;
        background:#54666F;
        margin-top:20px;
        margin-bottom:20px;
    }
    .texto-home{
        margin:0 auto;
        width:840px;
        text-align: center;
        font-size:20px;
    }
    .contato-home{
        display:block;
        width: 360px;
        height: 48px;
        background:url(../img/contato-home.png);
        margin:0 auto;
        margin-top:20px;
        color:#fff;
        text-align:center;
        text-transform: uppercase;
        font-size:24px;
        padding-top:7px;
        text-decoration: none;
        margin-bottom:24px;
    }
    .quem-somos, .atuacao{
        width:476px;
        float:left;
        margin-bottom:59px;
        h1{
            text-align:center;
            font-weight:normal;
            color:$darkred;
            font-size:20px;
            text-transform:uppercase;
            border-top:solid 4px $darkred;
            border-bottom:solid 1px $darkred;
            height:52px;
            line-height: 52px;
        }
        img{
            border:solid 1px $darkred;
            float:left;
        }
        .quem-somos-home-texto, .atuacao-home-texto{
            width:264px;
            height: 205px;
            float:right;
            p{
                margin-top:0;
                font-size:13px;
            }
        }
        .home-saiba-mais{
            display:block;
            width:264px;
            height:38px;
            float:right;
            background:$darkred;
            text-align:center;
            text-decoration: none;
            color:#FFF;
            line-height: 38px;
            font-size:18px;
            border-bottom:solid 4px #680B1B;
        }
    }
    .atuacao{
        float:right;
    }
}

.titulo-pagina{
    width:953px;
    height:80px;
    padding-left:27px;
    margin-top:-56px;
    line-height:77px;
    color:#fff;
    font-weight: normal;
    background:url(../img/barra-titulo.png);
    margin-bottom:30px;
}

.pagina-texto{
    width:633px;
    float:right;
    border-top:solid 4px $darkred;
    p{
        font-size:14px;
        strong{font-size:15px;}
        .destaque{text-transform:uppercase; color:$darkred; font-weight:bold;}
    }
    h2{
        font-weight: normal;
        color:$darkred;
        border-bottom:solid 1px $darkred;
        width:613px;
        background:url(../img/seta.png) left center no-repeat;
        padding-left:18px;
        font-size:20px;
        text-transform: uppercase;
        line-height: 54px;
    }
    ul{
        margin:0;
        padding:0;
        list-style-type: square;
        margin-left:17px;
        font-size:14px;
    }
    .pagina-slider{
            margin:0;
            padding:0;
    }
    li.texto-slide{
        min-height:500px;
        margin:0;
        list-style-type: none;
        color:$smaltblue;
        font-weight:normal;
        margin-left:1px;
    }
    li > h2{
        margin-top:0;
    }
}

.conteudo-pagina{
    .pagina-sidebar{
        float:left;
    }
    .pagina-nav-wrapper{
        width:320px;
        float:left;
        a{
            display:block;
            height:38px;
            line-height: 38px;
            border-left:solid 10px $smaltblue;
            text-decoration:none;
            color:$smaltblue;
            padding-left:17px;
            font-size:16px;
            margin-bottom:5px;
            &:hover, &.active{
                border:none;
                background:$darkred;
                color:#FFF;
            }
        }
    }
    .pagina-imagem-wrapper{
        float:left;
        margin-top:15px;
        img{border: solid 1px $darkred}
    }
}

/*Quem Somos*/
.conteudo.empresa{
    .empresa-imagem-wrapper{
        float:left;
        img{border:solid 1px $darkred;}
    }
}

/*Contato*/
.conteudo.contato{
    iframe{
        border:solid 1px $darkred;
        margin-bottom:30px;
    }
    .left.form{
        width:310px;
        padding-top:22px;
        border-top:solid 1px $darkred;
        #endereco-mail{
            p{
                margin:0;
                margin-bottom:5px;
                font-size:18px;
                &.endereco, &.telefone{
                    line-height:1.2em;
                }
                &.telefone{
                    font-size:28px;
                    font-weight:bold;
                    color:$darkred;
                }
                &.email{a{text-decoration:none; color:$darkred;}}
            }
        }
    }
    .right.form{
        width:630px;
        padding-top:22px;
        border-top:solid 1px $darkred;
        .input-text{width:298px; float:left;}
        input[type=text]{
            width:283px;
            padding-left:12px;
            height:36px;
            line-height:36px;
            border:solid 1px $darkred;
            background:transparent;
            font-size:16px;
            margin-bottom:5px;
            font-family: $ptsans;
            color:$smaltblue;
        }
        textarea{
            width:310px;
            padding-left:13px;
            float:right;
            background:transparent;
            border:solid 1px $darkred;
            font-family:$ptsans;
            height:124px;
        }
        input[type=submit]{
            display:block;
            width:180px;
            height:38px;
            float:right;
            margin-top:8px;
            background:$darkred;
            text-align:center;
            text-decoration: none;
            color:#FFF;
            line-height: 32px;
            font-size:18px;
            border:none;
            border-bottom:solid 4px #680B1B;
            font-family:$ptsans;
        }
    }
    
}

.conteudo.atuacao{
    img{
        border:solid 1px $darkred;
    }
}

/*Footer*/
footer{
    border-top: solid 6px #CCC;
    background:url(../img/bg-vermelho.png);
    height:196px;
    color:#fff;
    a{color:#FFF; text-decoration:none;}
    .seta{margin-right:17px;}
    nav{
        float:left;
        margin-top:36px;
        ul{
            margin:0;
            padding:0;
            display:inline-block;
            margin-right:30px;
            float:left;
        }
        li{margin-bottom:7px;}
    }
    .endereco-rodape{
        width:400px;
        float:right;
        p{
            text-align: right;
            margin:0;
            margin-bottom:7px;
            &.telefone-footer{font-size:18px; margin-top:33px;}
            &.endereco{font-size:15px;}
        }
    }
    .copy{
        width:100%;
        height:42px;
        background:rgba(115, 29, 29, 0.81);
        margin-top:31px;
        line-height:42px;
        font-size:11px;
        .copy-text{float:left;}
        .trupe{float:right;}
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
            color: $smaltblue;
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
    color: $smaltblue;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}