/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

.left {
  float: left; }

.right {
  float: right; }

/*Fontes*/
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "PT Sans", sans-serif; }

/*Cores*/
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.inner {
  width: 980px;
  margin: 0 auto; }

.juridico-home {
  font-size: 18px !important;
  margin-bottom: 14px;
  margin-top: 13px; }

body {
  background: url(../img/bg-claro.png);
  color: #54666f; }

.conteudo {
  padding-bottom: 60px; }

body > header .linha-topo {
  width: 100%;
  height: 5px;
  background: #54666F; }
body > header .marca-contato {
  width: 100%;
  height: 145px; }
  body > header .marca-contato .marca {
    display: block;
    width: 330px;
    height: 72px;
    background: url(../img/marca.png);
    float: left;
    margin-top: 38px; }
body > header nav {
  height: 141px;
  width: 100%;
  background: url(../img/bg-menu.png);
  border-bottom: solid 1px #FFF; }
  body > header nav ul {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    list-style-type: none; }
    body > header nav ul li {
      float: left;
      margin-left: 5px; }
      body > header nav ul li.first {
        margin-left: 0; }
      body > header nav ul li a {
        text-decoration: none;
        color: #54666f;
        padding: 0 0 13px;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        height: 16px;
        display: block;
        border-bottom: solid 1px #BABFC2; }
        body > header nav ul li a.active, body > header nav ul li a:hover {
          color: #8b1619;
          border-bottom: solid 4px #8b1619;
          padding-bottom: 10px; }
        body > header nav ul li a#home {
          width: 99px; }
        body > header nav ul li a#quem-somos {
          width: 142px; }
        body > header nav ul li a#setor-educacional {
          width: 174px; }
        body > header nav ul li a#consultoria-juridica {
          width: 269px; }
        body > header nav ul li a#atuacao {
          width: 167px; }
        body > header nav ul li a#contato {
          width: 104px; }
body > header .contato-header {
  float: right;
  margin-top: 32px; }
  body > header .contato-header p {
    text-align: right;
    margin: 0; }
    body > header .contato-header p.telefone-header {
      color: #8b1619;
      font-size: 15px; }
    body > header .contato-header p.endereco {
      font-size: 13px;
      color: #54666f; }
    body > header .contato-header p a {
      color: #8b1619;
      font-size: 13px;
      text-decoration: none; }

.vermelho {
  color: #8b1619; }

.linha-header {
  width: 100%;
  height: 1px;
  background: #C2C2C2; }

.conteudo.home .slider-home-wrapper {
  margin-top: -56px; }
.conteudo.home .sliderhome {
  display: block;
  width: 980px;
  height: 300px; }
  .conteudo.home .sliderhome .slide {
    display: block;
    text-decoration: none;
    margin-left: 1px; }
  .conteudo.home .sliderhome .barra-lateral {
    width: 26px;
    height: 300px;
    position: absolute; }
    .conteudo.home .sliderhome .barra-lateral .barra {
      width: 10px;
      background: #54666F;
      height: 99px;
      border-right: solid 1px #FFF; }
      .conteudo.home .sliderhome .barra-lateral .barra.top {
        border-bottom: solid 1px #FFF; }
      .conteudo.home .sliderhome .barra-lateral .barra.bottom {
        border-top: solid 1px #FFF; }
    .conteudo.home .sliderhome .barra-lateral .barra-vermelha {
      width: 26px;
      height: 100px;
      background: #801417; }
  .conteudo.home .sliderhome img {
    float: left; }
  .conteudo.home .sliderhome .slider-texto {
    float: right;
    width: 360px;
    height: 300px;
    background: url(../img/bg-vermelho.png); }
    .conteudo.home .sliderhome .slider-texto h1 {
      width: 377px;
      padding-right: 27px;
      height: 75px;
      padding-top: 10px;
      line-height: 1.2em;
      background: url(../img/home-faixa-slider.png);
      margin-left: -44px;
      color: #FFF;
      text-transform: uppercase;
      font-size: 23px;
      text-align: right;
      text-shadow: 0 2px 1px #000; }
      .conteudo.home .sliderhome .slider-texto h1 span {
        display: inline-block;
        width: 270px; }
    .conteudo.home .sliderhome .slider-texto .slider-texto-content {
      width: 314px;
      margin-right: 27px;
      float: right;
      margin-top: -24px; }
      .conteudo.home .sliderhome .slider-texto .slider-texto-content p {
        text-align: right;
        font-size: 13px;
        color: #fff; }
.conteudo.home .barra-texto-home {
  width: 100%;
  height: 1px;
  background: #54666F;
  margin-top: 20px;
  margin-bottom: 20px; }
.conteudo.home .texto-home {
  margin: 0 auto;
  width: 840px;
  text-align: center;
  font-size: 20px; }
.conteudo.home .contato-home {
  display: block;
  width: 360px;
  height: 48px;
  background: url(../img/contato-home.png);
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 7px;
  text-decoration: none;
  margin-bottom: 24px; }
.conteudo.home .quem-somos, .conteudo.home .atuacao {
  width: 476px;
  float: left;
  margin-bottom: 59px; }
  .conteudo.home .quem-somos h1, .conteudo.home .atuacao h1 {
    text-align: center;
    font-weight: normal;
    color: #8b1619;
    font-size: 20px;
    text-transform: uppercase;
    border-top: solid 4px #8b1619;
    border-bottom: solid 1px #8b1619;
    height: 52px;
    line-height: 52px; }
  .conteudo.home .quem-somos img, .conteudo.home .atuacao img {
    border: solid 1px #8b1619;
    float: left; }
  .conteudo.home .quem-somos .quem-somos-home-texto, .conteudo.home .quem-somos .atuacao-home-texto, .conteudo.home .atuacao .quem-somos-home-texto, .conteudo.home .atuacao .atuacao-home-texto {
    width: 264px;
    height: 205px;
    float: right; }
    .conteudo.home .quem-somos .quem-somos-home-texto p, .conteudo.home .quem-somos .atuacao-home-texto p, .conteudo.home .atuacao .quem-somos-home-texto p, .conteudo.home .atuacao .atuacao-home-texto p {
      margin-top: 0;
      font-size: 13px; }
  .conteudo.home .quem-somos .home-saiba-mais, .conteudo.home .atuacao .home-saiba-mais {
    display: block;
    width: 264px;
    height: 38px;
    float: right;
    background: #8b1619;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    line-height: 38px;
    font-size: 18px;
    border-bottom: solid 4px #680B1B; }
.conteudo.home .atuacao {
  float: right; }

.titulo-pagina {
  width: 953px;
  height: 80px;
  padding-left: 27px;
  margin-top: -56px;
  line-height: 77px;
  color: #fff;
  font-weight: normal;
  background: url(../img/barra-titulo.png);
  margin-bottom: 30px; }

.pagina-texto {
  width: 633px;
  float: right;
  border-top: solid 4px #8b1619; }
  .pagina-texto p {
    font-size: 14px; }
    .pagina-texto p strong {
      font-size: 15px; }
    .pagina-texto p .destaque {
      text-transform: uppercase;
      color: #8b1619;
      font-weight: bold; }
  .pagina-texto h2 {
    font-weight: normal;
    color: #8b1619;
    border-bottom: solid 1px #8b1619;
    width: 613px;
    background: url(../img/seta.png) left center no-repeat;
    padding-left: 18px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 54px; }
  .pagina-texto ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
    margin-left: 17px;
    font-size: 14px; }
  .pagina-texto .pagina-slider {
    margin: 0;
    padding: 0; }
  .pagina-texto li.texto-slide {
    min-height: 500px;
    margin: 0;
    list-style-type: none;
    color: #54666f;
    font-weight: normal;
    margin-left: 1px; }
  .pagina-texto li > h2 {
    margin-top: 0; }

.conteudo-pagina .pagina-sidebar {
  float: left; }
.conteudo-pagina .pagina-nav-wrapper {
  width: 320px;
  float: left; }
  .conteudo-pagina .pagina-nav-wrapper a {
    display: block;
    height: 38px;
    line-height: 38px;
    border-left: solid 10px #54666f;
    text-decoration: none;
    color: #54666f;
    padding-left: 17px;
    font-size: 16px;
    margin-bottom: 5px; }
    .conteudo-pagina .pagina-nav-wrapper a:hover, .conteudo-pagina .pagina-nav-wrapper a.active {
      border: none;
      background: #8b1619;
      color: #FFF; }
.conteudo-pagina .pagina-imagem-wrapper {
  float: left;
  margin-top: 15px; }
  .conteudo-pagina .pagina-imagem-wrapper img {
    border: solid 1px #8b1619; }

/*Quem Somos*/
.conteudo.empresa .empresa-imagem-wrapper {
  float: left; }
  .conteudo.empresa .empresa-imagem-wrapper img {
    border: solid 1px #8b1619; }

/*Contato*/
.conteudo.contato iframe {
  border: solid 1px #8b1619;
  margin-bottom: 30px; }
.conteudo.contato .left.form {
  width: 310px;
  padding-top: 22px;
  border-top: solid 1px #8b1619; }
  .conteudo.contato .left.form #endereco-mail p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px; }
    .conteudo.contato .left.form #endereco-mail p.endereco, .conteudo.contato .left.form #endereco-mail p.telefone {
      line-height: 1.2em; }
    .conteudo.contato .left.form #endereco-mail p.telefone {
      font-size: 28px;
      font-weight: bold;
      color: #8b1619; }
    .conteudo.contato .left.form #endereco-mail p.email a {
      text-decoration: none;
      color: #8b1619; }
.conteudo.contato .right.form {
  width: 630px;
  padding-top: 22px;
  border-top: solid 1px #8b1619; }
  .conteudo.contato .right.form .input-text {
    width: 298px;
    float: left; }
  .conteudo.contato .right.form input[type=text] {
    width: 283px;
    padding-left: 12px;
    height: 36px;
    line-height: 36px;
    border: solid 1px #8b1619;
    background: transparent;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "PT Sans", sans-serif;
    color: #54666f; }
  .conteudo.contato .right.form textarea {
    width: 310px;
    padding-left: 13px;
    float: right;
    background: transparent;
    border: solid 1px #8b1619;
    font-family: "PT Sans", sans-serif;
    height: 124px; }
  .conteudo.contato .right.form input[type=submit] {
    display: block;
    width: 180px;
    height: 38px;
    float: right;
    margin-top: 8px;
    background: #8b1619;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    line-height: 32px;
    font-size: 18px;
    border: none;
    border-bottom: solid 4px #680B1B;
    font-family: "PT Sans", sans-serif; }

.conteudo.atuacao img {
  border: solid 1px #8b1619; }

/*Footer*/
footer {
  border-top: solid 6px #CCC;
  background: url(../img/bg-vermelho.png);
  height: 196px;
  color: #fff; }
  footer a {
    color: #FFF;
    text-decoration: none; }
  footer .seta {
    margin-right: 17px; }
  footer nav {
    float: left;
    margin-top: 36px; }
    footer nav ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 30px;
      float: left; }
    footer nav li {
      margin-bottom: 7px; }
  footer .endereco-rodape {
    width: 400px;
    float: right; }
    footer .endereco-rodape p {
      text-align: right;
      margin: 0;
      margin-bottom: 7px; }
      footer .endereco-rodape p.telefone-footer {
        font-size: 18px;
        margin-top: 33px; }
      footer .endereco-rodape p.endereco {
        font-size: 15px; }
  footer .copy {
    width: 100%;
    height: 42px;
    background: rgba(115, 29, 29, 0.81);
    margin-top: 31px;
    line-height: 42px;
    font-size: 11px; }
    footer .copy .copy-text {
      float: left; }
    footer .copy .trupe {
      float: right; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #54666f; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #54666f; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
